{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="answer">Answer</label>
          {{input value=answer id="answer"}}
        </div>
      </form>
      <button {{action 'saveAnswer'}}>Save</button>
    </div>
{{else}}
    <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
