<li class="question-box" {{action 'hideNotes'}}>
  <p class="author"> Asked by {{question.author}}</p>
  {{#link-to 'question' question.id}}
    <h2 class="question">{{question.question}}</h2>
  {{/link-to}}
</li>
<span class="post-btn">{{update-question question=question update="update"}}</span>
