ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}
li.nav-bar {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
ul.display-box {
  list-style-type: none;
  padding-left: 0px;
}
li.question-box {
  border-style: solid;
  border-color: grey;
  border-radius: 15px;
  background-color: darkgrey;
  margin: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
p.showNotesNotifier {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 4px;
}
p.notes {
  font-size: 18px;
}
.center {
  text-align: center
}
#title {
  margin-left: 10px;
}
p.author {
  float: right;
  margin-top: 4px;
}
h2.question {
  margin-top: 4px;
  margin-bottom: 4px;
}
div.question-form {
  margin-left: 20px;
}
input {
  width: 50%;
}
span.post-btn {
  text-align: right;
}
