<ul class="nav-bar">
  <li class="nav-bar"><p class="title">{{#link-to 'index'}}Question & Answer Forum{{/link-to}}</p></li>
  <li class="nav-bar">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li class="nav-bar"><a href="http://www.github.com/ilesikar/q-a-message-board">Github</a></li>
</ul>

<div class="container">
  {{outlet}}
</div>
