<ul class="nav-bar">
  <li class="nav-bar">Home</li>
  <li class="nav-bar">Questions & Answers!</li>
  <li class="nav-bar"><a href="http://www.github.com/ilesikar/q-a-message-board">Github</a></li>
</ul>

<div class="container">
  {{outlet}}
</div>
