<h1 id="title">W E L C O M E</h1>
{{question.question}}

<div class="question-form">
  {{new-question save="save"}}
</div>

<ul class="display-box">
  {{#each questions as |question|}}
     {{question-tile question=question update="update"}}
  {{/each}}
  <ul class="sub-display-box">
    {{#each answers as |answer|}}
      <li>{{answer.answer}}</li>
    {{/each}}
  </ul>
</ul>
